@model IEnumerable<doanNet.Models.MenuMst>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex align-items-center">
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-auto" href="#"><img src="~/Images/logo.png" /></a> <!-- Đặt class "me-auto" để logo tự động dịch sang phải -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                @foreach (var menuItem in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@menuItem.MenuURL">@menuItem.MenuText</a>
                    </li>
                }
            </ul>
        </div>
        <div class="dropdown">
            <button class="custom-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: skyblue">
                User name
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user" style="padding: 5px"></i> Thông tin cá nhân</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket" style="padding: 5px"></i>Đăng xuất</a></li>

            </ul>
        </div>
    </div>
</nav>
