
@{
    ViewBag.Title = "DangKyKyTucXa";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 style="font-weight: bold; padding: 20px">ĐĂNG KÝ KÝ TÚC XÁ</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem; border: 4px solid gainsboro; border-radius: 0px;">

                <img src="~/Images/home.png" class="card-img-top" style="width: 150px; height: auto; margin: auto; padding: 10px">
                <div class="card-body">
                    <h5 class="card-title">Phòng 8 người </h5>
                    <p class="card-text">Giá 250.000/tháng</p>
                </div>
                <hr />
                <div class="card-body">
                    <button class="btn btn-secondary">Xem chi tiết</button>
                    <button class="btn btn-outline-success">Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem; border: 4px solid gainsboro; border-radius: 0px;">

                <img src="~/Images/home.png" class="card-img-top" style="width: 150px; height: auto; margin: auto; padding: 10px">
                <div class="card-body">
                    <h5 class="card-title">Phòng 8 người </h5>
                    <p class="card-text">Giá 250.000/tháng</p>
                </div>
                <hr />
                <div class="card-body">
                    <button class="btn btn-secondary">Xem chi tiết</button>
                    <button class="btn btn-success"><img src="~/Images/correct.png" style="width: 24px; height: auto; padding: 2px"/> Đã đăng ký</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem; border: 4px solid gainsboro; border-radius: 0px;">

                <img src="~/Images/home.png" class="card-img-top" style="width: 150px; height: auto; margin: auto; padding: 10px">
                <div class="card-body">
                    <h5 class="card-title">Phòng 8 người </h5>
                    <p class="card-text">Giá 250.000/tháng</p>
                </div>
                <hr />
                <div class="card-body">
                    <button class="btn btn-secondary">Xem chi tiết</button>
                    <button class="btn btn-outline-success">Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem; border: 4px solid gainsboro; border-radius: 0px;">

                <img src="~/Images/home.png" class="card-img-top" style="width: 150px; height: auto; margin: auto; padding: 10px">
                <div class="card-body">
                    <h5 class="card-title">Phòng 8 người </h5>
                    <p class="card-text">Giá 250.000/tháng</p>
                </div>
                <hr />
                <div class="card-body">
                    <button class="btn btn-secondary">Xem chi tiết</button>
                    <button class="btn btn-outline-success">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
</div>
