
@{
    ViewBag.Title = "DanhSachHoaDon";
    Layout = "~/Areas/GiaoVien/Views/Shared/layoutteacher.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Areas/admin/Content/CSS/GiaoVien.css">
<div class="container">
    <div class="col-12 text-center" style="padding:20px">
        <h2 class="fw-bold">DANH SÁCH HÓA ĐƠN</h2>
    </div>
        <div class="row">
            <table class="table text-center" id="datatableform">
                <thead>
                    <tr>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Số phòng</th>
                        <th scope="col">Đã thanh toán</th>
                        <th scope="col">Chưa thanh toán</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody class="table_fee_by_month">
                </tbody>
            </table>

        </div>
    </div>

