

@{
    ViewBag.title = "Vi phạm";
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding:20px">
            <h2 style="font-weight: bold">DANH SÁCH LỖI</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr style="background-color: darkblue; color: white">
                    <th scope="col">Mã lỗi</th>
                    <th scope="col">Chi tiết lỗi</th>
                    <th scope="col">MSSV</th>
                    <th scope="col">Họ và tên Sinh viên</th>
                    <th scope="col">Tên người ghi nhận</th>
                    <th scope="col">Số giường</th>
                    <th scope="col">Tên phòng</th>
                    <th scope="col">Thời gian ghi nhận lỗi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


