
@{
    ViewBag.Title = "DangKyLichGacCong";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 style="font-weight: bold; padding: 20px; color: darkblue">ĐĂNG KÝ LỊCH GÁC CỔNG</h2>
        </div>
    </div>
    <table class="table" style="font-size: 12px">
        <thead>
            <tr style="background-color: darkblue; color: white">
                <th scope="col">Ca trực/Ngày trực</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: deepskyblue; color: darkblue; text-align: center">10:45am - 1:45pm</td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td><br /><br /><div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> Lê Hoàng Phương <br /> </td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
            </tr>
            <tr>
                <td style="background-color: deepskyblue; color: darkblue; text-align: center">10:45am - 1:45pm</td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>

            </tr>
            <tr>
                <td style="background-color: deepskyblue; color: darkblue; text-align: center">10:45am - 1:45pm</td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>

            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center" style="padding: 20px">
        <button class="btn btn-primary font-weight-bold" style="border-radius: 0;padding-right: 10px">
            <i class="fa-solid fa-pen-to-square" style="padding: 10px"></i>Đăng ký
        </button>
    </div>
</div>

