
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}


<div class="container">
    <div class="row justify-content-center" style="padding: 30px">
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="custom-div">
                <p style="text-align:center;font-weight: bold; font-size:20px; color: darkblue">KÝ TÚC XÁ ĐẠI HỌC TÔN ĐỨC THẮNG</p>
            </div>
            <p>Hệ thống ký túc xá Đại học Tôn Đức Thắng gồm Ký túc xá Cơ sở Tân Phong, quận 7, Tp.HCM, Ký túc xá Cơ Sở Bảo Lộc và Ký túc xá phân hiệu Nha Trang. Cung cấp 5831 chỗ ở cho sinh viên.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/Images/gioi-thieu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/Images/gioi-thieu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/Images/gioi-thieu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-5">
            <div class="row">
                <p style="text-align: center; font-weight: bold;">KÝ TÚC XÁ CƠ SỞ TÂN PHONG</p>
                <p>Ký túc xá Trường đại học Tôn Đức Thắng cơ sở Tân Phong gồm 04 tòa nhà: Nhà H, nhà I cao 10 tầng. Nhà K, L cao 20 tầng</p>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div style="font-weight: bold">Cơ chế hoạt động</div>
                <div> Tự chủ tài chính, tự cân đối thu chi;</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div style="font-weight: bold">Cơ chế hoạt động</div>
                <div> Tự chủ tài chính, tự cân đối thu chi;</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div style="font-weight: bold">Cơ chế hoạt động</div>
                <div> Tự chủ tài chính, tự cân đối thu chi;</div>
            </div>
        </div>
        <div
    </div>
</div>

