
@{
    ViewBag.Title = "DanhSachHopDong";
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}
<style>
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        max-width: 80%; /* Đặt độ rộng tối đa */
        margin: 1.75rem auto;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .modal-open {
        overflow: hidden;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding:20px">
            <h2 style="font-weight: bold">DANH SÁCH HỢP ĐỒNG</h2>
        </div>

    </div>
    <div class="function_btn"
         style=" display: flex;justify-content: end; margin-top: 8px; margin-bottom: 8px; margin-right: 32px;">
        <div class="add_btn" style="margin: 10px">
            <!-- Colored mini FAB button -->
            <button onclick="showModal()"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                    style="background-color: #35d66c">
                <i class="fa-solid fa-plus" style="margin: 10px"></i>
            </button>
        </div>
        <script>
            function showModal() {
                var myModal = new bootstrap.Modal(document.getElementById('ThemSinhVien'));
                myModal.show();
            }

        </script>
    </div>
    <div class="modal fade" id="ThemSinhVien" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-4 ps-5">
                            <h6 class="mb-0 font-weight-bold">MSSV</h6>
                        </div>
                        <div class="col-md-8 pe-5">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-4 ps-5">
                            <h6 class="mb-0 font-weight-bold">Họ và tên Sinh viên</h6>
                        </div>
                        <div class="col-md-8 pe-5">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-4 ps-5">
                            <h6 class="mb-0 font-weight-bold">Học kỳ đăng ký</h6>
                        </div>
                        <div class="col-md-8 pe-5">
                            <select name="khoa" id="khoa" style="width: 100%">
                                <option value="2">Cả 2 học kỳ</option>
                            </select>
                        </div>  
                        <div class="col-md-4 ps-5">
                            <h6 class="mb-0 font-weight-bold">Loại phòng</h6>
                        </div>
                        <div class="col-md-8 pe-5">
                            <select name="hd" id="hd" style="width: 100%">
                                <option value="6">6 người</option>
                                <option value="8">8 người</option>
                            </select>
                        </div>
                        <div class="col-md-4 ps-5">
                            <h6 class="mb-0 font-weight-bold">Đăng ký vào lúc</h6>
                        </div>
                        <div class="col-md-8 pe-5">
                            <input type="datetime" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Thêm hợp đồng</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">MSSV</th>
                    <th scope="col">Họ và tên Sinh viên</th>
                    <th scope="col">Học kỳ đăng ký</th>
                    <th scope="col">Loại phòng</th>
                    <th scope="col">Đăng ký vào lúc</th>
                    <th scope="col">Xét duyệt</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>12341234</th>
                    <td>Đặng Như Quỳnh</td>
                    <td>Cả 2 học kỳ</td>
                    <td>6 người</td>
                    <td>05/05/2002 <br /> 14:06: 00</td>
                    <td>
                        <button class="btn btn-outline-primary" style="color: blue">
                            <i class="fa-regular fa-circle-check" style="color: blue;"></i> Duyệt
                        </button>
                    </td>
                    <td>
                        <i class="fa-regular fa-eye" style="color: blue;"></i>
                    </td>
                    <td>
                        <i class="fa-regular fa-pen-to-square" style="color: blue;"></i>
                    </td>
                </tr>
                <tr>
                    <th>12341234</th>
                    <td>Ngô Chí Cường</td>
                    <td>Cả 2 học kỳ</td>
                    <td>6 người</td>
                    <td>05/05/2002 <br /> 14:06: 00</td>
                    <td>
                        <button class="btn btn-outline-primary" style="color: blue">
                            <i class="fa-regular fa-circle-check" style="color: blue;"></i> Duyệt
                        </button>
                    </td>
                    <td>
                        <i class="fa-regular fa-eye" style="color: blue;"></i>
                    </td>
                    <td>
                        <i class="fa-regular fa-pen-to-square" style="color: blue;"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


