@{
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}
<div class='container_body_name_input_'>
    <label class='label_name_modifier base_label_inline'>Tựa đề bài post</label>
    <input type='text' class='name_input_modifier secondary_input' />
</div>
<div class='container_body_address_input_'>
    <label class='label_address_modifier base_label_inline'>Tag bài post</label>
    <input type='text' class='address_input_modifier secondary_input' />
    <!-- Colored mini FAB button -->
    <button data-bs-toggle="modal"
            data-bs-target="#ModalChooseCategory"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
            style="background-color: #35d66c">
        <i class="material-icons">add</i>
    </button>
</div>
<label class='label_address_modifier base_label_inline' style="width:100%;text-align:center;margin-bottom:24px">Nội dung bài post</label>


<div id="editor"></div>
<div class="upload-container" style="width:100%;text-align:right">
    <button class="primary-btn" style="margin-top: 24px; margin-right: 24px"> Đăng</button>
</div>
</main>
<div class="modal fade"
     id="ModalChooseCategory"
     tabindex="-1"
     aria-labelledby="ModalAddUserLable"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xs">
        <div class="modal-content p-3">
            <div class="modal-body">
                <ul>
                    <li class="category-checkbox-parents" style="text-decoration:none;display:flex;align-items:center">
                        <input class="category-checkbox" type="checkbox" />
                        <span class="badge badge-pill badge-primary" style="background-color: #1C63EE;margin-left:12px;">Primary</span>
                    </li>
                </ul>
                <div class="button_container">
                    <button class="primary-btn" style="margin-top: 24px; margin-right: 24px" data-dismiss="modal"> Thêm thể loại </button>
                    <button class="primary-btn" style="width:150px;margin-top: 24px; margin-right: 24px"> Chọn xong thể loại </button>
                </div>

            </div>
        </div>
    </div>
</div>



<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
