@{
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}
<link href="~/Content/TeacherPage/RegisterPlace.min.css" rel="stylesheet" />

<h1 class="title-content"> Thông tin đã đăng ký</h1>

<div class="display_place">
    <div class="display_row">
        <p class="heading_tag">MSSV</p>
        <p class="content_tag">521H1234</p>
    </div>
    <div class="display_row">
        <p class="heading_tag">MSSV</p>
        <p class="content_tag">521H1234</p>
    </div>
    <div class="display_row">
        <p class="heading_tag">MSSV</p>
        <p class="content_tag">521H1234</p>
    </div>
    <div class="display_row">
        <p class="heading_tag">MSSV</p>
        <p class="content_tag">521H1234</p>
    </div>

</div>
<div class="upload-container" style="width:100%;text-align:right">
    <button class="primary-btn" style="margin-top: 24px; margin-right: 24px"> Trở lại</button>
</div>