
@{
    ViewBag.Title = "DanhSachHopDong";
    Layout = "~/Views/Shared/layout3.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding:20px">
            <h2>DANH SÁCH HỢP ĐỒNG</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">MSSV</th>
                    <th scope="col">Họ và tên Sinh viên</th>
                    <th scope="col">Học kỳ đăng ký</th>
                    <th scope="col">Loại phòng</th>
                    <th scope="col">Đăng ký vào lúc</th>
                    <th scope="col">Xét duyệt</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>12341234</th>
                    <td>Đặng Như Quỳnh</td>
                    <td>Cả 2 học kỳ</td>
                    <td>6 người</td>
                    <td>05/05/2002 <br /> 14:06: 00</td>
                    <td>
                        <button class="btn btn-outline-primary" style="color: blue">
                            <i class="fa-regular fa-circle-check" style="color: blue;"></i> Duyệt
                        </button>
                    </td>
                    <td>
                        <i class="fa-regular fa-eye" style="color: blue;"></i>
                    </td>
                    <td>
                        <i class="fa-regular fa-pen-to-square" style="color: blue;"></i>
                    </td>
                </tr>
                <tr>
                    <th>12341234</th>
                    <td>Ngô Chí Cường</td>
                    <td>Cả 2 học kỳ</td>
                    <td>6 người</td>
                    <td>05/05/2002 <br /> 14:06: 00</td>
                    <td>
                        <button class="btn btn-outline-primary" style="color: blue">
                            <i class="fa-regular fa-circle-check" style="color: blue;"></i> Duyệt
                        </button>
                    </td>
                    <td>
                        <i class="fa-regular fa-eye" style="color: blue;"></i>
                    </td>
                    <td>
                        <i class="fa-regular fa-pen-to-square" style="color: blue;"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


