
@{
    ViewBag.Title = "DanhSachHopDongTheoThang";
    Layout = "~/Areas/GiaoVien/Views/Shared/layoutteacher.cshtml";
}


<style>
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        max-width: 80%; /* Đặt độ rộng tối đa */
        margin: 1.75rem auto;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .modal-open {
        overflow: hidden;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    .green-dots {
        list-style-type: none; /* Loại bỏ kiểu chấm mặc định */
        padding-left: 20px; /* Khoảng cách từ bên trái để chứa các chấm */
    }

        .green-dots li:before {
            content: "\2022"; /* Unicode của chấm đen */
            color: green; /* Màu của chấm */
            display: inline-block;
            width: 1em; /* Đảm bảo khoảng cách giữa chấm và nội dung */
            margin-left: -1em; /* Di chuyển chấm ra khỏi khung li */
        }

    .red-dots {
        list-style-type: none; /* Loại bỏ kiểu chấm mặc định */
        padding-left: 20px; /* Khoảng cách từ bên trái để chứa các chấm */
    }

        .red-dots li:before {
            content: "\2022"; /* Unicode của chấm đen */
            color: red; /* Màu của chấm */
            display: inline-block;
            width: 1em; /* Đảm bảo khoảng cách giữa chấm và nội dung */
            margin-left: -1em; /* Di chuyển chấm ra khỏi khung li */
        }
</style>
<link href="~/Content/TeacherPage/ChoosingRoom.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding:20px">
            <h2 style="font-weight: bold">DANH SÁCH HOÁ ĐƠN THÁNG 3-2024</h2>
        </div>
    </div>
    <div class="filtering_place">
        <select class="filtering_item" placeholder="Tòa">
            <option value="" disabled selected>Tòa</option>
            <option value="hurr">Durr</option>
        </select>
        <select class="filtering_item" placeholder="Tầng">
            <option value="" disabled selected>Tầng</option>
            <option value="hurr">Durr</option>
        </select>
        <select class="filtering_item" placeholder="Loại Phòng">
            <option value="" disabled selected>Loại Phòng</option>
            <option value="hurr">Durr</option>
        </select>
        <select class="filtering_item" placeholder="Trạng thái">
            <option value="" disabled selected>Trạng thái</option>
            <option value="hurr">Durr</option>

        </select>
        <button data-bs-toggle="modal"
                data-bs-target="#ModalChooseCategory"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                style="background-color: #1C63EE;margin:0">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên phòng</th>
                    <th scope="col">Giá phòng</th>
                    <th scope="col">Số điện</th>
                    <th scope="col">Số nước</th>
                    <th scope="col">Chi phí khác</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Hạn chót thanh toán</th>
                    <th scope="col">Đánh dấu thanh toán</th>
                    <th scope="col">Tình trạng thanh toán</th>
                    <th scope="col">Thao tác</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>H207</th>
                    <td>4000000</td>
                    <td>190</td>
                    <td>22</td>
                    <td>0</td>
                    <td>792.000</td>
                    <td>05/05/2024</td>
                    <td style="text-align: center">
                        <input id="paymentCheckbox" type="checkbox" checked onchange="togglePaymentStatus()" />
                    </td>
                    <td>
                        <ul id="paymentStatus" class="green-dots">
                            <li>Đã thanh toán</li>
                        </ul>
                    </td>
                    <td>
                        <i class="fa-regular fa-eye" style="color: blue; padding-right: 10px; cursor: pointer" onclick="showModelChiTiet()"></i>
                        <script>
                            function showModelChiTiet() {
                                var myModal = new bootstrap.Modal(document.getElementById('ChiTietSuDungDienNuoc'));
                                myModal.show();
                            }

                        </script>
                        <i class="fa-solid fa-download" style="color: blue; cursor: pointer" onclick="showModelHoaDon()"></i>
                        <script>
                            function showModelHoaDon() {
                                var myModal = new bootstrap.Modal(document.getElementById('HoaDon'));
                                myModal.show();
                            }

                        </script>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="modal fade" id="ChiTietSuDungDienNuoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 style="font-weight: bold; color: blue; text-align: center">CHI TIẾT CHI PHÍ PHÒNG - Tháng 03/2024</h6>
                        <div class="row">
                            <h6 style="font-weight: bold; text-align: center">Phòng: H027</h6>
                        </div>
                        <table class="table">
                            <tr>
                                <th scope="row">Giá phòng</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Số điện</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Số nước</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Giá tiền 1kwh điện</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Giá tiền 1 lít nước</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Tổng tiền nước</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Tổng tiền điện</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Chi phí khác</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Tổng tiền thanh toán</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Hạn chót thanh toán</th>
                                <td>text</td>
                            </tr>
                            <tr>
                                <th scope="row">Ngày xuất hoá đơn</th>
                                <td>text</td>
                            </tr>


                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="HoaDon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 style="font-weight: bold; color: blue; text-align: center">TRƯỜNG ĐẠI HỌC TÔN ĐỨC THẮNG <br /> KÝ TÚC XÁ</h6>
                        <div class="row">
                            <h6 style="font-weight: bold; text-align: center">THÔNG BÁO <br /> (Thu tiền phí phòng ở ký túc xá - Tháng 03/2024 <br /> Phòng : H207</h6>
                        </div>
                        <table class="table" style="width:400px;margin: auto">
                            <tr>
                                <th scope="row">Tổng cộng</th>
                                <td style="text-align: right">text</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Hạn chót thanh toán 00/00/2024</td>
                            </tr>

                            <tr>
                                <th scope="row"></th>
                                <td>Ngày xuất hoá đơn 00/00/2024</td>
                            </tr>


                        </table>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" style="margin: auto"><i class="fa-solid fa-file-pdf" style="padding-right: 5px"></i> In hoá đơn</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<script>
    function togglePaymentStatus() {
        var checkbox = document.getElementById("paymentCheckbox");
        var statusList = document.getElementById("paymentStatus");

        if (checkbox.checked) {
            statusList.className = "green-dots";
            statusList.innerHTML = "<li>Đã thanh toán</li>";
        } else {
            statusList.className = "red-dots";
            statusList.innerHTML = "<li>Chưa thanh toán</li>";
        }
    }
</script>
