

@{
    ViewBag.title = "Vi phạm";
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding:20px">
            <h2 style="font-weight: bold">DANH SÁCH LỖI</h2>
        </div>
    </div>
    <div class="function_btn" style="display: flex; justify-content: end; margin-top: 8px; margin-bottom: 8px; margin-right: 32px;">
        <div class="add_btn" style="margin: 10px">
            <!-- Colored mini FAB button -->
            <button onclick="redirectToPage('/GiaoVien/Default/GhiLoiKTX')"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                    style="background-color: #35d66c">
                <i class="fa-solid fa-plus" style="margin: 10px"></i>
            </button>
            <script>
                function redirectToPage(url) {
                    window.location.href = url;
                }
            </script>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr style="background-color: darkblue; color: white">
                    <th scope="col">Mã lỗi</th>
                    <th scope="col">Chi tiết lỗi</th>
                    <th scope="col">Họ và tên Sinh viên</th>
                    <th scope="col">Tên người ghi nhận</th>
                    <th scope="col">Số giường</th>
                    <th scope="col">Tên phòng</th>
                    <th scope="col">Thời gian ghi nhận lỗi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.mistakes)
                {
                    var tensv = "";
                    var tenphong = "";
                    <tr>
                        <th>@item.IDMistake</th>
                        <td>@item.MistakeDes</td>
                        <td>
                            @foreach(var sinhvien in ViewBag.sinhviens)
                            {
                                if (sinhvien.IDSinhVien == item.IDSinhVien)
                                {
                                    tensv = sinhvien.FullName;
                                }
                            }
                            @tensv
                        </td>
                        <td>
                            @foreach (var svtq in ViewBag.sinhviens)
                            {
                                if (svtq.IDSinhVien == item.IDAccount)
                                {
                                    tensv = svtq.FullName;
                                }
                            }
                            @tensv
                        </td>
                        <td>@item.BedID</td>
                        <td>
                            @foreach (var room in ViewBag.rooms)
                            {
                                if (room.IDRoom == item.IDRoom)
                                {
                                    tenphong = room.Name;
                                }
                            }
                            @tenphong
                        </td>
                        <td>@item.TimeCaught</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


