
@{
    ViewBag.Title = "Bài Viết";
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding:20px">
            <h2 style="font-weight: bold">DANH SÁCH BÀI ĐĂNG</h2>
        </div>
    </div>

    <div class="function_btn" style="display: flex; justify-content: end; margin-top: 8px; margin-bottom: 8px; margin-right: 32px;">
        <div class="add_btn" style="margin: 10px">
            <!-- Colored mini FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                    style="background-color: #35d66c">
                <i class="fa-solid fa-plus" style="margin: 10px"></i>
            </button>
        
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr style="background-color: darkblue; color: white">
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Meta</th>
                    <th scope="col">Lần cuối chỉnh sửa</th>
                    <th scope="col">Tag bài đăng</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.posts)
                {
                    List<int> categories = new List<int>();
                    List<string> categoriesName = new List<string>();
                    <tr>
                        <th>@item.PostTitle</th>
                        <td>@item.Meta</td>
                        <td>@item.DateBegin</td>
                        <td>
                            @foreach (var categorybridge in ViewBag.categoryBridges)
                            {
                                if (categorybridge.IDPost == item.IDPost)
                                {
                                    categories.Add(categorybridge.IDCategory);
                                }
                            }
                            @foreach (var category in ViewBag.Categories)
                            {
                                foreach (int id in categories)
                                {
                                    if (category.IDCategory == id)
                                    {
                                        categoriesName.Add(category.CategoryTitle);
                                    }
                                }
                            }
                            @{
                                String categoryString = string.Join(", ", categoriesName);
                            }
                            @categoryString
                        </td>
                        <td>
                            <a href="#">
                                <i class="fa-regular fa-pen-to-square" style="color: blue;"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


