@{
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}
<script src="dist/js/bootstrap-colorpicker.js"></script>

<style>
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        max-width: 80%; /* Đặt độ rộng tối đa */
        margin: 1.75rem auto;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .modal-open {
        overflow: hidden;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<div class='container_body_name_input_'>
    <label class='label_name_modifier base_label_inline'>Tựa đề bài post</label>
    <input type='text' class='name_input_modifier secondary_input' />
</div>
<div class='container_body_address_input_'>
    <label class='label_name_modifier base_label_inline'>Meta</label>
    <input type='text' class='name_input_modifier secondary_input' />
</div>
<div class='container_body_address_input_'>
    <label class='label_name_modifier base_label_inline'>Ảnh bìa</label>
    <input type="file" id="cover_image" accept=".png,.jpg,.jpeg" />
</div>
<div class='container_body_address_input_'>
    <label class='label_address_modifier base_label_inline'>Tag bài post</label>
    <input type='text' class='address_input_modifier secondary_input' disabled />
    <!-- Colored mini FAB button -->
    <button onclick="showModal()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
            style="background-color: #35d66c">
        <i class="fa-solid fa-plus" style="margin: 10px"></i>
        <script>
            // Hàm hiển thị modal
            function showModal() {
                var myModal = new bootstrap.Modal(document.getElementById('ModalChooseCategory'));
                myModal.show();
            }

        </script>

    </button>
</div>
<script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
<script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>

<label class='label_address_modifier base_label_inline' style="width:100%;text-align:center;margin-bottom:24px">Nội dung bài post</label>


<textarea id="editor" class="ckeditor"></textarea>
<div class="upload-container" style="width:100%;text-align:right">
    <button class="primary-btn" style="margin-top: 24px; margin-right: 24px"> Đăng</button>
</div>
</main>
<div class="modal fade"
     id="ModalChooseCategory"
     tabindex="-1"
     aria-labelledby="ModalAddUserLable"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xs">
        <div class="modal-content p-3">
            <div class="modal-body">
                <ul>
                    <li class="category-checkbox-parents" style="text-decoration:none;display:flex;align-items:center">
                        <input class="category-checkbox" type="checkbox" />
                        <span class="badge badge-pill badge-primary" style="background-color: #1C63EE;margin-left:12px;">Primary</span>
                    </li>
                </ul>
                <div class="button_container">
                    <button class="primary-btn" style="margin-top: 24px; margin-right: 24px" data-dismiss="modal"> Thêm thể loại </button>
                    <button class="primary-btn" style="width:150px;margin-top: 24px; margin-right: 24px"> Chọn xong thể loại </button>
                </div>
                <script>
                    function showModal() {
                        var myModal = new bootstrap.Modal(document.getElementById('ModalChooseCategory'));
                        myModal.show();
                    }
                </script>
            </div>
        </div>
    </div>
</div>


<script>
    var editor = CKEDITOR.replace(".ckeditor")
    var editor = CKEDITOR.replace(".ckeditor", { height: '600px' });
    customConfig: '~/Areas/admin/Content/ckeditor/config.js'
</script>
