<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <!-- UI Bundle-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Less Bundle-->

    <link href="~/Assets/CSS/Base.less" rel="stylesheet" />
    <!-- JQuery Bundle-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>

</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">@ViewBag.Title</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation"></nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">@ViewBag.Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Bài viết</a>
                <a class="mdl-navigation__link" href="">Hợp đồng</a>
                <a class="mdl-navigation__link" href="">Vi phạm</a>
                <a class="mdl-navigation__link" href="">Hóa đơn điện nước</a>
                <a class="mdl-navigation__link" href="">Gửi đơn khiếu nại</a>
                <a class="mdl-navigation__link" href="">Xin phép</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            @RenderBody()
        
    </div>
    
    <!-- Footer -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
