
@{
    ViewBag.Title = "DangNhapSinhVien";
    Layout = "~/Views/Shared/layout3.cshtml";
}
@using System.Web.Optimization
<script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js" crossorigin="anonymous"></script>
@Scripts.Render("~/Areas/admin/Content/Script/JSAPI/AccountAPI.js")
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .corner-image {
        padding-top: 10px;
        padding-right: 50px;
        position: absolute;
        top: 0;
        right: 0;
    }

    a {
        text-decoration: none;
    }

    .login-page {
        width: 100%;
        padding-top: 50px;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    .form-right i {
        font-size: 100px;
    }
</style>


<div class="container-fluid" style="background-color: darkblue; height:150px">
    <h1 style="font-weight: bold; color: white; text-align: center; padding-top: 50px;">Đăng nhập</h1>
    <img src="~/Images/graduates.png" class="corner-image">
</div>

<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <div class="bg-white">
                    <div class="row">
                        <div class="col-md-12 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <div class="col-12">
                                    <label>Username<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
                                        <input type="text" class="form-control mssv_place" placeholder="Nhập MSSV">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label>Password<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                                        <input type="password" class="form-control password_place" placeholder="Nhập Password">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                        <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <a href="#" class="float-end text-primary">Forgot Password?</a>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-4 float-end mt-4 btn_login">login</button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(() => {
                                $(".btn_login").click(async () => {
                                    const loginData = {
                                        account: $(".mssv_place").val(),
                                        password: $(".password_place").val(),
                                    }
                                    let response = await CheckingLogin(loginData);
                                    if (response.status == 200) {
                                        const AccountDetail = await response.json();
                                        if (AccountDetail.Hide == 1) {
                                            alert("Tài khoản sinh viên đã bị khóa");
                                            return;
                                        }
                                        if (AccountDetail) {
                                            sessionStorage.setItem("IDAccount", AccountDetail.IDAccount)
                                            if (AccountDetail.Available == 0) {
                                                window.location.href = "@Url.Action("DoiMatKhau", "TrangChu")"
                                            }
                                            else {
                                                 if (AccountDetail.AccountTypeID == 6) {
                                                    window.location.href="@Url.Action("MisTake", "SinhVien")"
                                                }
                                                if (AccountDetail.AccountTypeID == 5) {
                                                    window.location.href="/SinhVienTuQuan/Default/DiemDanhKTX"
                                                }
                                            }

                                        }
                                    }
                                    else {
                                        alert("Đăng nhập thất bại")
                                    }
                            })
                            })

                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
