@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Views/Shared/layout3.cshtml";
}
@using System.Web.Optimization
<script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js" crossorigin="anonymous"></script>
@Scripts.Render("~/Areas/admin/Content/Script/JSAPI/AccountAPI.js")
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .corner-image {
        padding-top: 10px;
        padding-right: 50px;
        position: absolute;
        top: 0;
        right: 0;
        width: 128px;
        height: auto;
    }

    a {
        text-decoration: none;
    }

    .login-page {
        width: 100%;
        padding-top: 50px;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    .form-right i {
        font-size: 100px;
    }
</style>


<div class="container-fluid" style="background-color: darkblue; height:150px">
    <h1 style="font-weight: bold; color: white; text-align: center; padding-top: 50px;">ĐỔI MẬT KHẨU</h1>
    <img src="~/Images/reset-password.png" class="corner-image">
</div>

<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <div class="bg-white">
                    <div class="row">
                        <div class="col-md-12 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                    <div class="col-12">
                                        <label>Mật khẩu mới<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                                            <input type="password" class="form-control password_place" placeholder="Mật khẩu mới">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Xác nhận mật khẩu<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                                            <input type="password" class="form-control password_new_place" placeholder="Xác nhận mật khẩu">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary px-4 float-end mt-4 btn_change">Đổi mật khẩu </button>
                                    </div>
                            
                            </div>
                        </div>
                        <script>
                            $(document).ready(() => {
                                $(".btn_change").click(async () => {
                                    if ($(".password_new_place").val() == $(".password_place").val()) {
                                        const IDAccount = sessionStorage.getItem("IDAccount")
                                        await changingPassword(IDAccount, $(".password_new_place").val());
                                    const AccountTypeID = sessionStorage.getItem("AccountTypeID")
                                        if (AccountTypeID == 6) {
                                             window.location.href="@Url.Action("Loi", "SinhVien")"
                                         }
                                        if (AccountTypeID == 5) {
                                             window.location.href="/SinhVienTuQuan/Default/DiemDanhKTX"
                                         }
                                    }

                                })
                            })
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
